.form-control-lg, .btn-lg{
  font-size: $font-size-base;
}

.form-control.flatpickr-input{
  background-color: $input-bg;
  border-color: $input-border-color;
}

.input-icon{
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  font-size: 1rem!important;
  &--right{
    right: 0.5rem;
  }
}

.sign-mw{
  max-width: 220px;
}

.sign-input-width{
  // width: 160px;
  min-width: 160px;
  max-width: 160px;
}

.change-mx{
  margin-bottom: -4px;
  margin-top: -4px;
  max-width: 64px;
}

.main-checkbox{
  width: 50%;
  margin-bottom: 0;
  &__input{
    display: none;
    &:checked{
      & + .main-checkbox__text{
        background-color: $main-color;
        color: #fff;
      }
    }
  }
  &__text{
    padding: 10px;
    color: $main-color;
    display: block;
    cursor: pointer;
    font-size: $font-size-base;
    &:hover{
      background-color: rgba($main-color, 0.1);
    }
  }
  &__outer{
    font-size: 0;
    border: 1px solid $main-color;
    @include border-left-radius($border-radius-base);
    @include border-right-radius($border-radius-base);
    white-space: nowrap;
  }
}

.form-control-sm{
  padding-left: 8px;
  padding-right: 8px;
}

.inputs-form-group{
  display: table;
  &__item{
    display: table-cell;
    width: 50%;
    &:not(:last-child){
      .form-control{
        border-right: none;
        @include border-right-radius(0);
      }
    }
    &:not(:first-child){
      .form-control{
        @include border-left-radius(0);
      }
    }
  }
}

.upload-pic{
  border: 1px dashed $gray-400;
  &:hover{
    border-color: $gray-500;
    cursor: pointer;
  }
  &--active{
    border-color: $gray-500;
  }
  &__big{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-image: url(./assets/icons/upload.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px 60px;
  }
  &__input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

$select-arrow-size: 8px;
.select-arrow{
  &:hover{
    &:after{
      opacity: 0.6;
    }
  }
  &:after{
    content: '';
    width: $select-arrow-size;
    height: $select-arrow-size;
    background-image: url(./assets/icons/down-arrow.svg);
    background-size: $select-arrow-size $select-arrow-size;
    background-repeat: no-repeat;
    opacity: 0.5;
    transition: transform 0.1s;
  }
  &--up{
    &:after{
      transform: rotate(-180deg);
    }
  }
  &__outer{
    &.select-arrow{
      &:hover{
        text-decoration: none;
      }
      &:after{
        position: absolute;
        right: $select-arrow-size;
        top: 50%;
        margin-top: -$select-arrow-size/2;
      }
    }
  }
}

.form-control{
  &, &:focus{
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.has-success, .has-error{
  .form-control{
    box-shadow: none;
    &:focus{
      box-shadow: none;
    }
  }
}

.has-error{
  .form-control{
    border-color: $red;
  }
}

textarea{
  max-width: 100%;
}

.custom-radio{
  $radio-size: 18px;
  margin: 0;
  font-weight: inherit;
  padding-left: $radio-size + 5px;
  position: relative;
  cursor: pointer;
  &:hover{
    .custom-radio__outer{
      background-color: darken($gray-300, 10%);
    }
  }
  &--bottom{
    padding-left: 0;
    padding-bottom: $radio-size + 5px;
    .custom-radio__outer{
      left: 50%;
      bottom: 0;
      margin-left: - $radio-size / 2;
      top: inherit;
    }
  }
  &__outer{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    vertical-align: middle;
    width: $radio-size;
    height: $radio-size;
    background-color: $gray-300;
    @include border-top-radius($radio-size);
    @include border-bottom-radius($radio-size);
    @include transition(background-color 0.2s);
  }
  &__inner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    margin-top: -4px;
    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    background-color: #fff;
    opacity: 0;
  }
  &__input{
    display: none;
    &:checked + .custom-radio__outer{
      background-color: $main-color;
      .custom-radio__inner{
        opacity: 1;
      }
    }
  }
}

.custom-check{
  $check-size: 18px;
  margin: 0;
  font-weight: inherit;
  padding-left: $check-size + 8px;
  position: relative;
  cursor: pointer;
  &:hover{
    .custom-check__outer{
      background-color: darken($gray-100, 5%);
    }
  }
  &__outer{
    position: absolute;
    left: 0;
    $top-pad: calc(#{$line-height-base} / 2 * #{$font-size-base} - #{$check-size} / 2);
    top: $top-pad;
    display: inline-block;
    vertical-align: middle;
    width: $check-size;
    height: $check-size;
    background-color: $gray-100;
    border: 1px solid $gray-400;
    @include border-top-radius($border-radius-base);
    @include border-bottom-radius($border-radius-base);
    @include transition(background-color 0.2s);
  }
  &__inner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
    background-image: url(./assets/icons/check.svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    opacity: 0;
  }
  &__input{
    display: none;
    &:checked + .custom-check__outer{
      background-color: $main-color;
      border-color: $main-color;
      .custom-check__inner{
        opacity: 1;
      }
    }
  }
  &--disabled{
    color: $gray-600;
    .custom-check__outer{
      background-color: $gray-200;
    }
    &.custom-check__input{
      &:checked + .custom-check__outer{
        background-color: $gray-200;
        .custom-check__inner{
          opacity: 0.5;
        }
      }
    }
  }
}

.check-tabs{
  display: inline-block;
  font-size: 0;
  white-space: nowrap;
  vertical-align: top;
  &__label{
    margin: 0;
    font-size: $font-size-base;
    cursor: pointer;
    @include disable-select;
    &:hover{
      .check-tabs__outer{
        background-color: rgba($gray-200, 0.6);
      }
    }
    &:first-child{
      .check-tabs__outer{
        @include border-left-radius($border-radius-lg);
      }
    }
    &:last-child{
      .check-tabs__outer{
        @include border-right-radius($border-radius-lg);
      }
    }
    &:not(:first-child){
      margin-left: -1px;
    }
  }
  &__outer{
    display: block;
    background-color: $gray-200;
    padding: $btn-padding-y $btn-padding-x;
    img{
      height: 24px;
      margin-top: -2px;
      margin-bottom: -2px;
    }
  }
  &__input{
    display: none;
    &:checked + .check-tabs__outer{
      background-color: lighten($main-color, 40%);
      z-index: 9;
      position: relative;
    }
    &:disabled + .check-tabs__outer{
      color: $gray-300;
      background-color: rgba($gray-300, 0.1);
      cursor: not-allowed;
      img{
        opacity: 0.4;
      }
    }
  }
  &__icon{
    display: inline-block;
    font-size: 1rem;
    margin-top: -0.6rem;
    margin-bottom: -0.5rem;
    margin-right: 2px;
    vertical-align: middle;
  }
}

.input-number-reset{
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
  }
}

.checker-toggle{
  $toggle-size: 20px;
  margin: 0;
  cursor: pointer;
  font-size: 0;
  &__outer{
    background-color: $gray-300;
    width: $toggle-size * 2 + 4;
    height: $toggle-size + 4;
    display: inline-block;
    @include border-left-radius($toggle-size);
    @include border-right-radius($toggle-size);
    position: relative;
    &:before{
      content: '';
      width: $toggle-size;
      height: $toggle-size;
      background-color: #fff;
      @include border-left-radius($toggle-size / 2);
      @include border-right-radius($toggle-size / 2);
      position: absolute;
      left: 2px;
      top: 2px;
      @include transition(left 0.2s);
    }
  }
  &__input{
    display: none;
    &:checked + .checker-toggle__outer{
      background-color: $main-color;
      &:before{
        left: $toggle-size + 2;
      }
    }
  }
}

