.v-carousel {
  &-items {
    overflow: hidden;
  }
  &-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  &-dot {
    &.active {
      background: #000;
      cursor: default;
    }
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .5);
  }
  &-nav {
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
    $h: 30px;
    cursor: pointer;
    position: absolute;
    line-height: $h;
    color: #FFF;
    padding: 0 5px;
    background: rgba(0, 0, 0, .5);
    top: 50%;
    margin-top: -$h / 2;
  }
  width: 100%;
  overflow: hidden;
  position: relative;
}

.v-carousel {
  &-item {
    width: 100%;
    float: left;
  }
}

.word-slider{
  perspective: 200px;
  &__item{
    display: inline-block;
    transition: all 0.2s;
    transform: rotateX(0deg);
    opacity: 1;
    &--active{
      opacity: 0;
      transform: rotateX(-90deg);
    }
  }
}
