$main-color: #7846C3; //247dd6
$main-color-2: #c36bd6;

$navbar-height: 60px;

$btn-padding-y: 0.6rem;
$input-padding-y: 0.6rem;
$border-radius: 0.5rem;
$input-color: $black;
$input-placeholder-color: $gray-500;
$pagination-focus-box-shadow: none;
