.container{
  width: 100%;
  // max-width: $container-lg;
}

.half-opacity{
  opacity: 0.5;
}

.nomargin{
  margin: 0;
}

.right-space{
  margin-right: 10px;
}

.left-space{
  margin-left: 10px;
}

.bottom-space{
  margin-bottom: 10px;
}

.top-space{
  margin-top: 10px;
  &--sm{
    margin-top: 5px;
  }
}

.relative{
  position: relative;
}

.pre-wrap{
  white-space: pre-wrap;
}

.cursor-pointer{
  cursor: pointer;
}

.cursor-move{
  cursor: move;
}

.disabled-item{
  opacity: 0.8;
  pointer-events: none;
  cursor: auto;
  &>a{
    cursor: auto;
    pointer-events: none;
  }
}

.modal-xs{
  max-width: $modal-xs;
}

.full-width{
  width: 100%;
}

.page-content{
  margin-top: -30px;
  box-shadow: 0 0px 2px rgba(#000, 0.2);
}

.status{
  padding-left: 16px;
  position: relative;
  &:before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 0.2em;
    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    background-color: $gray-300;
  }
  &--1, &--3, &--9{
    &:before{
      background-color: $yellow;
    }
  }
  &--4, &--6, &--10{
    &:before{
      background-color: $blue;
    }
  }
  &--5, &--11{
    &:before{
      background-color: darken($blue, 20%);
    }
  }
  &--7{
    &:before{
      background-color: $green;
    }
  }
  &--2, &--8, &--13{
    &:before{
      background-color: $red;
    }
  }
  &--12{
    &:before{
      background-color: lighten($red, 20%);
    }
  }
  &--orange{
    &:before{
      background-color: $orange;
    }
  }
  &--blue{
    &:before{
      background-color: $blue;
    }
  }
  &--green{
    &:before{
      background-color: $green;
    }
  }
  &--red{
    &:before{
      background-color: $red;
    }
  }
  &--color{
    &:before{
      background-color: $main-color;
    }
  }
}

.alert{
  border: none;
  &--fixed{
    position: fixed;
    top: 18%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
    max-width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
}

.upload-image{
  position: relative;
  min-height: 150px;
  background-color: $gray-100;
  overflow: hidden;
  &__input{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -50px;
    margin-bottom: 0;
    padding: 10px;
    color: #fff;
    text-align: center;
    background-color: rgba(#000, 0.6);
    @include transition(all 0.3s ease);
    cursor: pointer;
    font-weight: 300;
    input[type="file"]{
      display: none;
      opacity: 0;
    }
  }
  img{
    min-width: 100%;
  }
  &:hover{
    .upload-image__input{
      bottom: 0;
    }
  }
}

.table{
  thead{
    tr{
      th{
        border-bottom-width: 1px;
      }
    }
  }
}

.cap{
  padding-top: 30px;
  padding-bottom: 30px;
  &__noresults{
    width: 110px;
    height: 90px;
    margin-bottom: 20px;
    opacity: 0.5;
    background-image: url('./assets/icons/noresults.svg');
    background-repeat: no-repeat;
    background-size: 110px 90px;
  }
  &__success{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background-image: url('./assets/icons/checked.svg');
    background-repeat: no-repeat;
    background-size: 100px 100px;
  }
  &__circle{
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    background-color: rgba($main-color, 0.1);
    color: #fff;
    line-height: 48px;
    text-align: center;
  }
  &__text{
    color: $gray-500;
  }
}

.overflow-x{
  overflow-x: auto;
}

.overflow-hidden{
  overflow: hidden;
}

.dropdown-menu{
  box-shadow: 0 2px 20px rgba(#000, 0.15);
  border: none;
  margin-top: 0;
}

.pac-container{
  box-shadow: 0 2px 8px rgba(#000, 0.25);
  border-radius: $border-radius-base;
  border: none;
  cursor: pointer;
  .pac-item{
    padding: 4px $input-padding-x;
    border-top-color: $gray-100;
    &:hover{
      background-color: rgba($main-color, 0.05);
      border-top-color: rgba($main-color, 0.05);
      &+.pac-item{
        border-top-color: rgba($main-color, 0.1);
      }
    }
    .pac-icon{
      display: none;
    }
  }
}
.pac-logo:after{
  display: none;
}

.vertical-top{
  vertical-align: top;
}

.vertical-bottom{
  vertical-align: bottom;
}

.vertical-middle{
  vertical-align: middle;
}

.small-full-width{
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.current-shadow{
  box-shadow: 0 1px 1px rgba(#000, 0.2);
  transition: box-shadow 0.2s;
}

.cursor-pointer{
  cursor: pointer;
  &:hover{
    &.current-shadow{
      box-shadow: 0 4px 10px rgba(#000, 0.1);
    }
  }
}

.current-shadow-lg{
  box-shadow: 0 1px 12px 0 rgba(#000, 0.15);
}

.widget-min-height{
  min-height: 300px;
  .cap{
    position: absolute;
    width: 100%;
    top: 45%;
    transform: translate(0, -50%);
    left: 0;
  }
}

.widget{
  $min-height: 448px;
  &--min-height{
    min-height: $min-height;
    @include media-breakpoint-down(sm) {
      min-height: 300px;
    }
    .cap{
      position: absolute;
      width: 100%;
      top: 45%;
      transform: translate(0, -50%);
      left: 0;
    }
  }
  &__inner-min-height{
    @include media-breakpoint-up(sm) {
      min-height: $min-height - 66;
    }
  }
  &__tabs{
    border: none;
    z-index: 0;
    position: relative;
    li{
      a{
        margin-right: 0;
        border: none!important;
        padding-top: 16px;
        padding-bottom: 20px;
        margin-bottom: -4px;
      }
    }
  }
}

.flex-row{
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  &:before{
    width: 0;
  }
}

.thumb-img{
  position: fixed;
  top: 0;
  height: 100%;
  // background-color: rgba(#000, 0.4);
  z-index: 99999;
  left: 0;
  right: 0;
  overflow: hidden;
  &__img{
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 720px;
    overflow-y: auto;
    height: 100%;
    text-align: center;
    margin: auto;
    &::-webkit-scrollbar{
      width: 0;
    }
    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    img{
      max-width: 100%;
      max-height: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__bg{
    position: fixed;
    top: 0;
    height: 100%;
    background-color: rgba(#000, 0.4);
    z-index: 9999;
    left: 0;
    right: 0;
    overflow: hidden;
  }
}

.thumbs-control{
  position: fixed;
  z-index: 99999;
  top: 50%;
  font-size: 20px;
  width: 40px;
  height: 40px;
  background-size: 26px 26px;
  background-position: center;
  padding: 10px;
  border-radius: 50%;
  background-repeat: no-repeat;
  &:hover{
    background-color: rgba(#000, 0.4);
  }
  &--left{
    left: 20px;
    background-image: url(./assets/icons/left-arrow.svg);
  }
  &--right{
    right: 20px;
    background-image: url(./assets/icons/right-arrow.svg);
  }
}

.flatpickr-weekdays{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
}

span.flatpickr-weekday{
  -webkit-flex:1;
  -webkit-box-flex:1;
  -moz-flex:1;
  -moz-box-flex:1;
  -ms-flex:1;
  flex:1;
}

.loading-circle{
  $loader-size: 30px;

  width: $loader-size;
  height: $loader-size;
  background-image: url(./assets/spinner-of-dots.svg);
  background-size: $loader-size $loader-size;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9;
  margin-top: - ($loader-size / 2);
  margin-left: - ($loader-size / 2);
  animation: loader-anim 0.5s linear infinite;
}

@keyframes loader-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.table-md-height{
  td{
    height: 56px;
  }
}

.tip-hint{
  position: absolute;
  background-color: rgba(#000, 0.8);
  @include current-shadow;
  color: #fff;
  border-radius: $border-radius-base;
  z-index: 99;
  width: 120px;
  padding: 10px;
  display: block;
  &--left{
    right: 100%;
  }
}

.profile-order-map{
  min-height: 200px;
}

.sm-point{
  $point-size: 10px;
  padding-left: $point-size * 1.6;
  position: relative;
  line-height: 1.5;
  &:before{
    content: '';
    width: $point-size;
    height: $point-size;
    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    position: absolute;
    left: 0;
    top: 0.4em;
    display: inline-block;
    border: 2px solid #4e719f;
    background-color: #fff;
    z-index: 9;
  }
  &:not(:last-child){
    &:after{
      content: '';
      width: 2px;
      height: 100%;
      position: absolute;
      top: $point-size + 3px;
      left: $point-size / 2;
      margin-left: -1px;
      background-color: $gray-300;
    }
  }
  &--last{
    &:before{
      border-color: $mesto-color;
    }
  }
  &--first{
    &:before{
      border-color: $green;
    }
  }
}

.small-w-100{
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.over-cap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, 0.8);
  z-index: 999;
  &__text{
    position: relative;
    top: 50%;
    margin-top: 30px;
  }
}

.progress-line{
  height: 8px;
  @include border-left-radius(4px);
  @include border-right-radius(4px);
  background-color: $gray-100;
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 99;
  &__inner{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: $main-color;
    @include transition(width 0.3s);
  }
  &--ac{
    position: absolute;
    left: 20%;
    width: 60%;
    top: 45%;
  }
}

.datepicker-link{
  border: none;
  background-color: transparent;
  padding: 0;
  color: #337ab7;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  letter-spacing: -0.4px;
  @include placeholder{
    color: #337ab7;
  }
  &, &:focus{
    outline: none;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.point-marker{
  width: 36px;
  min-width: 36px;
  height: 36px;
  line-height: 32px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  @include border-top-radius(50%);
  @include border-bottom-radius(50%);
  border: 2px solid #4e719f;
  text-align: center;
  @include transition(border-color 0.3s);
  &--b{
    border-color: $blue;
  }
  &--gray{
    border-color: $gray-300;
  }
  &--link{
    height: 28px;
    width: 28px;
    min-width: 28px;
    line-height: 24px;
    &, &:hover, &:focus{
      text-decoration: none;
      color: inherit;
    }
    &:hover{
      border-color: $gray-500;
    }
  }
  &--first{
    border-color: $green;
  }
  &--last{
    border-color: $mesto-color;
  }
}
